h1 {
    font-family: Georgia;
    text-align: center;
}
h4 {
  text-align: center;
  color: grey;
}
body{
    background-color: rgb(219, 213, 202);
    text-align: left;
}
section{
    text-align: left;
}

table{
    border-spacing: 0;
    border-collapse: collapse;
    width: 30%;
    font-family: arial;
  }
  .left{
    text-align: left;
  }
  .right{
    text-align: right;
  }
  td, th{
    text-align: center;
    padding: 5px;
    width: 25%;
  }
  table th, td{
    border: 1px solid black
  }
  tr:nth-child(odd){
    background-color: gainsboro;
  }
  tr:nth-child(even){
    background-color: darkgrey;
  }
  th{
    background-color: darkgrey;
  }
  label {
    display: inline-block;
    text-align: left;
    padding-right: 10px;
    width: 120px;
  }
  input [type="submit"] {
    margin-left: 134px;
  }
#historien tr:nth-child(odd){
  background-color: rgb(129, 129, 129);
}
#historien tr:nth-child(even){
    background-color: rgb(225, 225, 233);
  }
  #historien img{
    width: 400px;
}  
fieldset {
  padding: 1em;
  border-radius: 10px;
  margin-bottom: 10px;
}
legend {
  font-size: larger;
}
input[type="submit"] {
  display: block;
  margin: auto;
}
.kontakt .logo {
  width: 146px;
  height: 123px;
}
.menu {
  margin: 30px;
  padding: 0;
  list-style: none;
  text-align: center;
  background-color: rgb(243, 234, 234);
  column-width: auto;
}
.menu li {
  display: inline;
  padding: 0 20px 0 0;
  list-style-type: none;
}