body {
    background-color: rgb(228, 225, 183);
    font-family:'Trebuchet MS';
}
img {
    height: 20%;
    width: 20%;
    float: right;
}
h1{
    text-align: center;
    text-decoration: underline;
}
