body {
    background-color:rgb(252, 222, 252);
}
h1{
    font-family: Arial;
    font-size: 22px;
}
.easy{
    color: darkgray;
    text-align:center;
    background-color: aliceblue;
}
.mig {
    border:groove;
}
.tankar{
    text-align: right;
}
a {
    text-decoration: none;
}