tbody tr:nth-child(1){
    background-color: gold;  
  }
  tbody tr:nth-child(3){
    background-color: gold;  
  }
  tbody tr:nth-child(2){
    background-color: rgb(202, 47, 27);  
  }
  tbody tr:nth-child(4){
    background-color: rgb(202, 47, 27);  
  }
  thead tr:nth-child(1) {
      background-color: rgba(237, 230, 230, 0.974);
  }