table{
    border-spacing: 0;
    border-collapse: collapse;
    width: 50%;
    font-family: arial;
}
table th,td{
    border: 1px solid black
}
td, th{
    text-align: center;
    padding: 7px;
    width: 25%;
}
tr:nth-child(odd){
    background-color: blanchedalmond;
}
tr:nth-child(even){
    background-color: darkgray;
    color: white;
}
th{
    background-color:rgb(117, 140, 148);
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}